<header>
    <section class="center-block">
        <img class="pull-left mylogo" src="/images/logo.png" alt="">
        <h1 class="pull-left">Girl Nicole</h1>
        <nav class="pull-right" id="nav">
            <span class="nav-span"><a <% if (active == 'index') {%> class="active" <%}%> href="/">home</a><b class="light-line"></b></span>
            <span class="nav-span"><a <% if (active == 'services') {%> class="active" <%}%> href="/services">services</a><b class="light-line"></b></span>
            <span class="nav-span"><a <% if (active == 'skills') {%> class="active" <%}%> href="/skills">skills</a><b class="light-line"></b></span>
            <span class="nav-span"><a <% if (active == 'works') {%> class="active" <%}%> href="/works">works</a><b class="light-line"></b></span>
            <span class="nav-span"><a <% if (active == 'contact') {%> class="active" <%}%> href="/contact">contact</a><b class="light-line"></b></span>
        </nav>
    </section>
</header>
<script src="/js/public.js"></script>    