header {
  width: 100%;
  height: 70px;
  background: #005bab;
  padding-top: 24px;
  padding-left: 13.4%;
  padding-right: 13.4%;
}
.mylogo {
  margin-right: 11px;
}
h1 {
  font-size: 24px;
  color: #dce1e3;
}
nav {
  padding-right: 12px;
  width: 60%;
}
nav .nav-span {
  text-transform: capitalize;
  font-family: 'Impact';
  font-size: 18px;
  color: #fff;
  width: 20%;
  text-align: center;
  float: left;
  line-height: 46px;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}
nav .nav-span a {
  color: #fff;
}
nav .nav-span .active {
  display: block;
  color: #ffe850;
}
.light-line {
  width: 100%;
  height: 4px;
  display: block;
  background-color: #ffe850;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.4s;
}
.center-block {
  width: 1000px;
  margin: 0 auto;
  height: 100%;
}
