@import 'reset.css';
header {
  width: 100%;
  height: 70px;
  background: #005bab;
  padding-top: 20px;
  padding-left: 13.4%;
  padding-right: 13.4%;
}
header .mylogo {
  margin-right: 11px;
}
header h1 {
  font-size: 24px;
  color: #dce1e3;
}
nav {
  padding-right: 12px;
}
nav span {
  text-transform: capitalize;
  font-family: 'Impact';
  font-size: 18px;
  color: #fff;
  padding-left: 33px;
  padding-right: 33px;
}
